#################################################################################
# SYSTEM & IDEs
#################################################################################
.DS_Store
Thumbs.db
desktop.ini
~$*
*~

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.vbw
*.vssscc
*.vspscc

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/

#################################################################################
# MONOREPO TOOLS (Nx & PNPM)
#################################################################################
node_modules/
.pnp
.pnp.js
.nx/cache
.nx/workspace-data
pnpm-debug.log*

web/node_modules/
web/.pnp
web/.pnp.js
web/.nx/cache
web/.nx/workspace-data
web/pnpm-debug.log*

#################################################################################
# DOTNET / VISUAL STUDIO SPECIFIC
#################################################################################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# .NET Build artifacts
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
.builds
*.pidb
*.svclog

# Databases & Local History
*.mdf
*.ldf
*.ndf
.localhistory/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

#################################################################################
# ANDROID / GRADLE
#################################################################################
*.apk
*.aab
*.ap_
*.a_
*.dex
*.class
**/build/
.gradle/
local.properties
**/gradle-wrapper.jar
**/gradle-wrapper.properties
google-services.json
*.jks
*.keystore
.cxx/

#################################################################################
# WEB (Nx, Angular, React, Vite)
#################################################################################
# Скомпилированные файлы
web/dist/
web/build/
web/out-tsc/
web/tmp
web/bazel-out

# Тесты и покрытие
web/coverage/
web/testem.log
web/__screenshots__/
web/*.e2e

# Кэши инструментов
web/.angular/
web/.eslintcache
web/.stylelintcache
web/*.tsbuildinfo
web/.sass-cache/

# Vite / Vitest специфичное
web/vite.config.*.timestamp*
web/vitest.config.*.timestamp*
web/dist-ssr/

# Окружение (Secrets)
web/.env
web/.env.local
web/.env.*.local

# Logs
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

#################################################################################
# CUSTOM EXCLUSIONS
#################################################################################

/dotnet/src/apps/NorthwindPlatform.Wpf.Shell/ApiConf.json

web/libpeerconnection.log
web/connect.lock